@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /*Se puede deslizar cuando se da clics en los links*/
    scroll-behavior: smooth;
}
/*Menu*/
.contenedor_header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor_header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor_header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #eec13a;
    text-decoration: none;
}
.contenedor_header header ul{
    display: flex;
    list-style: none;
}
.contenedor_header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor_header header nav ul li a:hover{
    color: #eec13a;
}
.nav_responsive{
    background-color: #eec13a;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

/*SECCION I N I C I O*/
.inicio{
    background: linear-gradient(to top, rgb(30,35,38,.8), rgb(30, 35, 38)),url(img/fondo2.jpg);
    background-size:cover ;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido_banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido_banner img{
    margin-top: 40px;
    border: 10px solid #eec13a;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido_banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido_banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido_banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido_banner .redes a:hover{
    background-color: #eec13a;
}

/*ABOUT ME*/
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido_seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-family: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido_seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom:20px ;
}
.sobremi .contenido_seccion p span{
    color: #eec13a;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0; 
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #eec13a;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #eec13a;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor_intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor_intereses .intereses{
    width: 100px;
    height: 100px;
    background-color:#1e2326;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobremi .fila .col .contenedor_intereses .intereses:hover{
    background-color: #eec13a;
}
.sobremi .fila .col .contenedor_intereses .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color:#fff;
    position: relative;
    z-index: 10;
}
.sobremi button a{
    color: #fff;
    text-decoration: none;
}
.sobremi button .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #eec13a;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}

/* SECCION S K I L L S*/
.skills{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido_seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-family: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skills{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #eec13a;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skills span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #eec13a;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* esto se añadia de forma dinamica dentro de java script*/
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 50%;}
}
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 67%;}
}
/*/////////////*/
.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop{
    0%{width: 0%;}
    100%{width: 85%;}
}
/*/////////////*/
.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress{
    0%{width: 0%;}
    100%{width: 70%;}
}
/*/////////////*/
.skills .skill .php{
    width: 0%;
    animation: 2s php forwards;
}
@keyframes php{
    0%{width: 0%;}
    100%{width: 55%;}
}
/*/////////////*/
.skills .skill .csharp{
    width: 0%;
    animation: 2s csharp forwards;
}
@keyframes csharp{
    0%{width: 0%;}
    100%{width: 55%;}
}
/*/////////////*/
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 90%;}
}
/*/////////////*/
.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo{
    0%{width: 0%;}
    100%{width: 86%;}
}
/*/////////////*/
.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 91%;}
}
/*/////////////*/
.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 95%;}
}
/*/////////////*/
.skills .skill .liderazgo{
    width: 0%;
    animation: 2s liderazgo forwards;
}
@keyframes liderazgo{
    0%{width: 0%;}
    100%{width: 75%;}
}

/*SECCION C U R R I C U L U M */
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido_seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-family: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252a2e;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252a2e;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252a2e;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #eec13a;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    columns: #eec13a;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #eec13a;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #eec13a;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #eec13a;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:#eec13a ;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #eec13a;
    width: 47px;
    position: absolute;
    top: 50%;
    left : -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:#eec13a ;
    float: left;
    position: relative;
    bottom: 4px;
}
/*SECCION P O R T A F O L I O*/
.portafolio{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}
.portafolio .contenido_seccion{
    max-width: 1100px;
    margin: auto;
}
.portafolio h2{
    font-family: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8),rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/*SECCION C O N T A C T O*/
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido_seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
#sendM{
    opacity: 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color:#fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #eec13a;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute; 
    top:40%;
    background-color: #252a2e;
    padding: 20px;
    max-width:350px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #eec13a;
    display: inline-block;
    margin-top: 20px;
}
/*Footer*/
footer{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 42px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #eec13a;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/*SECCION  RESPONSIVE*/
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav_responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0 ;
    }
}
@media screen and (max-width:700px) {
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }


    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skills{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portafolio .galeria{
        display: block;
        width: 100%;
    }
    .portafolio .galeria .proyecto{
        max-width: 100%;
    }
    .portafolio .galeria .proyecto img{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}